* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

li {
	list-style-type: none;
}


.header {
	background: var(--secondary-bg);
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.logo {
	width: 60px;
}

input.search__nav {
	width: 400px;
	height: 30px;
	background-color: aliceblue;
	background-size: 15px;
	background-image: url(/public/icons/search.png);
	background-position: 10px 5px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

input.search__nav:hover {
	border: 1px solid var(--secondary-color);
}

.btn-search {
	width: 60px;
	height: 30px;
	color: var(--primary-color);
	border: 2px solid var(--secondary-color);
}

.btn-search:hover {
	background: var(--secondary-color);
	color: #fff;
}

.nav-items {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	color: aliceblue;
}

.nav-item:hover {

	color: var(--secondary-color);
}

.main-info {
	background: rgb(164, 115, 115);
}

.main {
	display: flex;
}

.sidebar {
	padding-top: 20px;
	width: 20%;
	display: flex;
	justify-content: center;
}

.btn-sidebar {
	width: 70px;
	border-radius: 10px;
	color: black;
	background: var(--primary-bg);
	border: 1px solid var(--primary-bg);
	transition-duration: .3s;
}

.btn-sidebar:hover {
	background-color: beige;
}

.item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	border: solid 1px var(--primary-b-color);
	padding: 20px;
}

.button-wrapper {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button-gallery {
	width: 150px;
	border-radius: 10px;
	color: black;
	background: var(--third-bg);
	border: 1px solid var(--third-bg);
	transition-duration: .3s;
}

.button-gallery:hover {
	background-color: aliceblue;
	color: var(--third-bg);
}